/* Tela-Desenho */


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Impede rolagem */
}

body {
  background: linear-gradient(135deg, #007bff, #ff9f40);
}


.personagem-titulo h1{
  text-align: center;
  font-size: 50px;
  background: linear-gradient(to right, #ff6f00 0%, #ff6f00 50%, #000000 50%, #000000 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hinata h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: #ff6f00;
  font-size: 35px;
}

.personagens {
  display: flex;
  margin-top: 50px;
}

.personagens img{
  width: 270px;
  margin-left: 370px;
}
.personagens p{
  font-size: 25px;
  margin-top: 70px;
  color: #000000;
}


.seta {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.seta button {
  background: none;
  border: none;
  cursor: pointer;
}
.seta img {
  width: 100px; /* Ajuste o tamanho da seta conforme necessário */
  height: auto;
}

.voltar {
  position: absolute;
  left: 20px;
  top: 20px;
}
.voltar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #d10000; /* Cor de fundo */
  color: white; /* Cor do texto */
  border-radius: 5px;
  width: 115px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; /* Altura do footer */
}

.footer video{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
